<h2>Usuario {{this.usuario.nombre}}</h2>
<hr>
<h3>Datos usuario:</h3>
<p>Nombre: <strong>{{usuario.first_name}}</strong></p>
<p>Apellido: <strong>{{usuario.last_name}}</strong></p>

    {{#if usuario.age}}
       <p>Edad: <strong>{{usuario.age}}</strong></p>
       {{else}}
         <p>Edad: <strong>No especificado</strong></p>
    {{/if}}


<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Rol: <strong>{{usuario.rol}}</strong></p>
<br><br>
<h1>Borrar cuenta</h1>
<form action="/api/sessions/delete" method="post">

    <input type="email" name="email" placeholder="correo electrónico">
    <input type="password" name="password" placeholder="contraseña">

    <br><br>
    <input type="submit" value="delete">
</form>
{{>menu}}