<h2>Usuario {{this.usuario.nombre}}</h2>
<hr>
<h3>Datos usuario:</h3>
<p>Nombre: <strong>{{usuario.first_name}}</strong></p>
<p>Apellido: <strong>{{usuario.last_name}}</strong></p>

    {{#if usuario.age}}
       <p>Edad: <strong>{{usuario.age}}</strong></p>
       {{else}}
         <p>Edad: <strong>No especificado</strong></p>
    {{/if}}


<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Rol: <strong>{{usuario.rol}}</strong></p>
<br><br>
{{>menu}}